.center-main-content {
  margin: auto;
  max-width: 920px;
  padding: 100px 50px 150px 50px;
  width: 100%;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .center-main-content {
    padding: 15px 15px 100px 15px;
  }
}