#Main-header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#Main-header h2{
  display: inline-block;
  margin: 0;
  padding: 10px 0 10px 0;
  flex-grow: 1;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 920px;
  margin: auto;
  height: 64px;
  padding: 0 50px;
}